<h2 class="my-4 text-center">Employee List</h2>

<div class="d-flex justify-content-between align-items-center mb-3">
  <div class="form-group">
    <label for="pageSizeSelect">Rows per page:</label>
    <select
      class="form-control"
      id="pageSizeSelect"
      (change)="changePageSize($event)"
    >
      <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
    </select>
  </div>
  <div class="search-container">
    <input
      type="text"
      class="form-control d-inline-block"
      placeholder="Search employees..."
      [(ngModel)]="searchQuery"
      style="width: 200px; margin-right: 10px"
    />
    <button class="btn btn-primary" (click)="onSearch()">Search</button>
    <button
      class="btn btn-secondary"
      style="margin-left: 10px"
      (click)="clearSearch()"
    >
      Clear
    </button>
  </div>
</div>

<table class="table table-hover table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Date Joined</th>
      <th>Designation</th>
      <th>Department Name</th>
      <th>City</th>
      <th>Country</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.gender }}</td>
      <td>{{ employee.age }}</td>
      <td>{{ employee.doj }}</td>
      <td>{{ employee.designation }}</td>
      <td>{{ employee.department?.departmentName }}</td>
      <td>{{ employee.location?.city }}</td>
      <td>{{ employee.location?.country }}</td>
      <td>
        <button
          (click)="updateEmployee(employee.id)"
          class="btn btn-info btn-sm"
        >
          Update
        </button>
        <button
          (click)="deleteEmployee(employee.id)"
          class="btn btn-danger btn-sm"
          style="margin-left: 10px"
        >
          Delete
        </button>
        <button
          (click)="employeeDetails(employee.id)"
          class="btn btn-secondary btn-sm"
          style="margin-left: 10px"
        >
          View
        </button>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="offset === 1">
      <button class="page-link" (click)="previousPage()">Previous</button>
    </li>
    <li
      *ngFor="let page of [].constructor(totalPages); let i = index"
      [class.active]="offset === i + 1"
      class="page-item"
    >
      <button class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</button>
    </li>
    <li class="page-item" [class.disabled]="offset === totalPages">
      <button class="page-link" (click)="nextPage()">Next</button>
    </li>
  </ul>
</nav>

<div class="d-flex justify-content-center">
  <button (click)="logout()" class="btn btn-danger btn-sm">Logout</button>
  <button
    (click)="createEmployee()"
    class="btn btn-secondary btn-sm"
    style="margin-left: 10px"
  >
    Add New Employee
  </button>
</div>
